.menu a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	
.menu li a:hover {
	background-color: #66CDAA;
	color: #ffffff;
}
@media screen and (min-width: 480px) {
	ul.menu li a {      
		display: inline-block;
	}
	
}
.header {
	height:5%;
	text-align:center;
	font-size:60%;
	padding:5px;
	float:right;
}
.section {
	line-height:50px;
	text-align:center;
	padding:5px;
	float:right;				
}
.navigation {
	line-height:50px;
	background-color:#eeeeee;
	width:100%
	text-align:center;
	padding:5px;
	float:left;
}
.article {
	background-color:#eeeeee;
	height:341px;
	width:100%;
	float:left;
	margin: 10px;
	padding:5px;
}
.img {
	background-image: url("example.jpg");
	background-size: cover;
	background-position: center;
}
.name {
	color:#ffffff;
	background-color:#66CDAA;
	width:20%;
	text-align:left;
}