.menu a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	
.menu li a:hover {
	background-color: #66CDAA;
	color: #ffffff;
}
@media screen and (min-width: 480px) {
	ul.menu li a {      
		display: inline-block;
	}
	
}
.header {
	height:5%;
	text-align:center;
	font-size:60%;
	padding:5px;
	float:right;
}
.section {
	line-height:50px;
	text-align:center;
	padding:5px;
	float:right;				
}
.article {
	background-color:#eeeeee;
	height:341px;
	width:100%;
	float:left;
	margin: 10px;
	padding:5px;
}
.img {
	background-size: cover;
	background-position: center;
}
.name {
	color:#ffffff;
	background-color:#66CDAA;
	width:20%;
	text-align:left;
}
.container li { 
  display: inline;
  }
.srch {
    font:normal 13px Arial, sans-serif;
    width:200px;
    height:34px;
    margin:0;
    padding:0;
    vertical-align:top;
    right:4em;
    outline:none !important;
    border:0;
    background:transparent;
    position:absolute;
    z-index:10;