.responive {
	float: left;
	margin: 5px;
	padding: 15px;
	width: 100%;
	height: 300px;
	border: 1px solid #000000;
}
ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.horizontal li {
	float: left;
}
ul.horizontal li a {
  
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	
ul.horizontal li a:hover {
	background-color: #66CDAA;
	color: #ffffff;
}
@media screen and (min-width: 480px) {
	ul.horizontal li a {      
		display: inline-block;
	}
}
.header {
	height:5%;
	text-align:center;
	font-size:60%;
	padding:5px;
	float:right;
}
.section {
	text-align:center;
	padding:5px;
	float:right;				
}
.navigation {
	line-height:60px;
	background-color:#eeeeee;
	height:100px;
	text-align:center;
	padding:5px;
	float:left;
}
.article {
	background-color:#eeeeee;
	height:300px;
	width:35%;
	float:left;
	margin: 10px;
	padding:5px;
}
.img {
	background-image: url(‘image.jpg’);
	background-size: cover;
	background-position: center;
}
.name {
	color:#ffffff;
	background-color:#66CDAA;
	width:20%;
	text-align:left;
}
.uppercase {
	text-transform: uppercase;
}
